@model IEnumerable<courseDb.Models.Maker>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Makerid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Makername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Makerid)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Makername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Makerid">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Makerid">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Makerid">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
