@model courseDb.Models.Medicine

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicineid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medicineid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Maker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maker.Makerid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Medicineid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
